<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--    Check the page title-->
    {% if title %}
        <title>Peach - {{ title }}</title>
    {% else %}
        <title>Peach</title>
    {% endif %}

</head>

<body>
    <!-- Main Frame -->
    <div class="container">
        <!-- Top Nav Bar-->
        <div class="nav">
            {% block nav %}
            {% endblock %}
        </div>

        <!-- Main Box-->
        <div class="main-area">
            {% block content %}
            {% endblock %}
        </div>

        <!-- SideBar Menu -->
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>

        <!-- SideBar Bottom Logo-->
        <div class="sidebar-bottom-logo"></div>

        <!--  SideBar Top Logo-->
        <div class="sidebar-top-logo"></div>

        <!-- Footer -->
        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>

    </div>

</body>
</html>
