{% extends 'base.html' %}

<head>
<style>


</style>

    <title>Peach - Home</title>
</head>

{% block content %}
    <div class="main-area">
        <p>hello from main-area</p>
    </div>
    <div id="item-1">&nbsp;
    <p>hello from item 1</p>
    </div>
    <div id="item-2">&nbsp;
    <p>hello from item 2</p>
    </div>
    <div id="item-3">&nbsp;
    <p>hello from item 3</p>
    </div>
    <div id="item-4">&nbsp;
    <p>hello from item 4</p>
    </div>

{% endblock %}




